<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Signup_Page</title>
</head>

<style>

  input[type=text] {
  width: 50%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 20%;
}





</style>


<body>
<div align="center">
<h1>Patient Registrations</h1>
    <img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png" alt="No image" width="80px" height="80px">
<form method="post" action="/signup">
    <input type="text" name="user_name" placeholder="Name" required>
    <br>
    <input type="text" id="phone" name="phone_no"  placeholder="Phone_no" required>
    <br>
    <input type="text" name="age"  placeholder="Age" required>
    <br>
    <input  type="text" list="ward_types" name="bed_type" placeholder="Ward" required>
    <datalist id="ward_types">
        <option value="Out Patient">Out Patient</option>
        <option value="General ward">General ward</option>
        <option value="Semi Sharing">Semi Sharing</option>
        <option value="Single">Single</option>
    </datalist>
    <br>
    <input type="text" name="address" placeholder="Address" required>
    <br>
    <input type="text" name="state" placeholder="State" required>
    <br>
    <input type="text" name="city" placeholder="City" required>
    <br>
    <button type="submit">Submit</button>
</form>
    <form method="get" action="/back">
  <button type="submit">Back</button>
    </form>
{% if data=='Exists_already' %}
<h3>Patient already exists</h3>
{% elif data=='new_user' %}
<h3>Successfully added Patient</h3>
{% else %}
{% endif %}
    </div>
</body>
</html>